.header {
    // min-height: 100vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat; 
    
    @media (max-width:1000px) {
        background-size: auto;
        background-position: unset;
    }
}

.header__nav {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

